{{ partial "header.html" . }}


<header class="row text-left title">
  <h1 class="title-text">{{ .Title }}</h1>
</header>
<section id="category-pane" class="row meta"> 
<section id="content-pane" class="row">

 <div class="col-md-12 text-justify content">
<h5 class="inspiration"> N.C.</h5> 
<br>

När du känner smaken av <br>
Det som är gott <br>
Är detta ett litet tecken <br>
Som visar hän <br>
Mot någonting dolt <br>

<p class = "center">	* * * </p>
<h5 class="inspiration">J.B<p></h5>
<br>
<p class ="first center">Sött</p>
<p class ="second center">Surt</p>
<p class ="third center">Beskt</p>

<br>


Det söta lockar in<br>
Det sura stöter bort <br>
Och det beska håller <br>
Allting samman<br>


<p class = "center">	* * * </p>




Bryggning är konsten att förädla det levande, <br>
Leda det genom stadier,<br>
Gradvis frambringa det som är fördolt.<br>
<br>
När grödan börjar växa ur kornet <br>
Avslutas det. <br>
Genom hettans omvandlade kraft <br>
Kristalliseras sädeskornet till malt. <br>
Malten blandas med vatten, <br>
Socker slits isär, förenklas och uppgår i någonting annat. <br>
Malten har bara varit en behållare <br>
En tillfällig struktur, ett stadium på vägen.<br>
Den gamla formen måste överges.<br>
Livskristallerna blir hängande i en annan rymd,<br>
I ett levande vatten <br>
Sprudlande av energi, rörelse och sötma. <br>
Kokande. <br>
<br>
Du törstar.<br>
En bitter bägare sträcks fram till dig.<br>
Varför denna bitterhet? Varför denna beska?<br>
En viskning: 	Jag – bevarar – dig – levande. <br>
<br>
Vörten, det levande vattnet, <br>
Kyls ned, återvänder,<br>
Blir inte helt olik en grav,<br>
Ett rum för det döda. <br><br><br>

I detta rum väcks livet upp.<br>
<br><br>
Det kristallina sockret skall omvandlas.<br>
Liksom den gamla jorden ska komma att bli den nya jorden, <br>
Skall det levande förvandlas.
<br>
<br>
<p class = "center">	* * * </p>

<h5 class="inspiration">G.W.F.H<p></h5>


Käkbenet fäster i skallbenet, öppnar sig för världen.<br>
Blir ett membran, en horisont, blir till gnistor. <br>
Det sprakar bakom ögonen.<br>
Det brinner i kraniet.<br>
Låt det brinna. <br>
Någonting måste brinna upp.<br>
En rening måste ske. <br><br>


<p class = "center">	* * * </p>






Materien avslöjar sig <br>
Öppnar sitt inre <br>
Blottar sig <br> 
Där bakom skynket<br> 
En annan triangel<br> 
Det dånar - helt tyst <br> 
En röst som ej kommer från en människas strupe <br> 
Den talar, den andas ut, den träder fram <br> <br>
<p class ="first center">Helig</p>
<p class ="second center">Helig</p>
<p class ="third center">Helig</p>

 </div>
</section>


{{ partial "footer.html" . }}

